In [1]:
import pandas as pd

test_data_split = 230  #this will be the number of weeks in the test data set, remainder of data in train data set
#Calculate the split date to use
split_date = datetime.now() - timedelta(weeks=test_data_split) 
print('Split Date: {0}'.format(split_date))

OBS_DATE                   datetime64[ns]
RAIL_FRT_CARLOADS_D11               int64
RAIL_FRT_INTERMODAL_D11             int64
WATERBORNE_D11                    float64
TRUCK_D11                         float64
AIR_RTMFM_D11                       int64
TSI                               float64
dtype: object

In [ ]:
#Read in the transportation data, monthly seasonally adjusted
tsi_data = pd.read_excel(".\data\Input_SeasonalData_TSI.xlsx", header=2)

#look at the data types that were inferred by Pandas during import.
tsi_data.dtypes

In [2]:
#Return a listing of the data
tsi_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6

In [3]:
#Read in the real gdp growth rates,seasonally adjusted, quarterly data with quarterly growth rates
gdp_data = pd.read_excel(".\data\Input_GDP_st_louis_fed_quarterly_change.xlsx")

#look at the data types that were inferred by Pandas during import.
gdp_data.dtypes

observation_date       datetime64[ns]
Real_gdp_qtr_growth           float64
dtype: object

In [4]:
#Disply a listing of the data
gdp_data.head()

  observation_date  Real_gdp_qtr_growth
0       2000-01-01                  1.5
1       2000-04-01                  7.5
2       2000-07-01                  0.5
3       2000-10-01                  2.5
4       2001-01-01                 -1.1

In [5]:
#Merge the 2 datasets together based on the date. 
merged_data = pd.merge(tsi_data, gdp_data, how='left', left_on='OBS_DATE', right_on='observation_date')

merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,observation_date,Real_gdp_qtr_growth
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,2000-01-01,1.5
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,NaT,NaN
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,NaT,NaN
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,2000-04-01,7.5
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,NaT,NaN

In [6]:
#We now have 2 date columns.  Drop the date column from the gdp_data dataframe.
merged_data = merged_data.drop(['observation_date'], axis=1) #pandas can drop rows or columns, axis=1 indicates columns

In [7]:
#This now shows the dataframe without the duplicate date column observation_date.
merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,NaN
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,NaN
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,NaN

In [8]:
#Look at the counts for the data values that we have for each column.  We see the gdp data with a smaller number since
#it is quarterly and the other data is monthly.
merged_data.count()

OBS_DATE                   241
RAIL_FRT_CARLOADS_D11      241
RAIL_FRT_INTERMODAL_D11    241
WATERBORNE_D11             241
TRUCK_D11                  241
AIR_RTMFM_D11              241
TSI                        241
Real_gdp_qtr_growth         80
dtype: int64

In [9]:
#Forward fill the gdp data so that a quarterly gdp value will be used for 3 rows, with each row being a month.
#limit it only fill in 2 consective missing values.
merged_data['Real_gdp_qtr_growth'] = merged_data['Real_gdp_qtr_growth'].fillna(method='ffill', limit=2)

merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,1.5
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,1.5
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,7.5

In [10]:
#Look to see if we still have missing gdp values as that data gets released later than the transportation data.
#This will allow us to inspect any bad rows.
merged_data.loc[merged_data['Real_gdp_qtr_growth'].isnull()]

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth
240,2020-01-01,1054432,1109662,50.4,116.6,3617962,136.9,NaN

In [11]:
#drop rows where we don't have a gdp value
merged_data = merged_data.dropna(subset=['Real_gdp_qtr_growth'])

In [12]:
#Verify that all rows have gdp values 
merged_data.loc[merged_data['Real_gdp_qtr_growth'].isnull()]

Empty DataFrame
Columns: [OBS_DATE, RAIL_FRT_CARLOADS_D11, RAIL_FRT_INTERMODAL_D11, WATERBORNE_D11, TRUCK_D11, AIR_RTMFM_D11, TSI, Real_gdp_qtr_growth]
Index: []

In [13]:
#We should now have clean data.
merged_data.count()

OBS_DATE                   240
RAIL_FRT_CARLOADS_D11      240
RAIL_FRT_INTERMODAL_D11    240
WATERBORNE_D11             240
TRUCK_D11                  240
AIR_RTMFM_D11              240
TSI                        240
Real_gdp_qtr_growth        240
dtype: int64

In [14]:
#Create a boolean column to indicate if gdp growth was positive or negative.
merged_data['gdp_is_increasing'] = merged_data.apply(lambda x: True if x['Real_gdp_qtr_growth'] > 0.0 else False, axis=1)

In [15]:
merged_data.count()

OBS_DATE                   240
RAIL_FRT_CARLOADS_D11      240
RAIL_FRT_INTERMODAL_D11    240
WATERBORNE_D11             240
TRUCK_D11                  240
AIR_RTMFM_D11              240
TSI                        240
Real_gdp_qtr_growth        240
gdp_is_increasing          240
dtype: int64

In [16]:
#look at the new column
merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth,gdp_is_increasing
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5,True
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,1.5,True
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,1.5,True
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5,True
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,7.5,True

In [17]:
#Look at rows where gdp growth was negative
merged_data.loc[merged_data['Real_gdp_qtr_growth'] <= 0.0]

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth,gdp_is_increasing
12,2001-01-01,1398488,759514,46.0,74.8,2553409,99.5,-1.1,False
13,2001-02-01,1399176,743794,47.6,75.3,2547226,99.9,-1.1,False
14,2001-03-01,1416765,754615,47.0,74.2,2479860,99.1,-1.1,False
18,2001-07-01,1353431,731670,47.6,74.1,2246636,97.6,-1.7,False
19,2001-08-01,1374005,745111,49.3,75.2,2318149,99.2,-1.7,False
20,2001-09-01,1376994,754272,49.0,74.4,2047594,98.1,-1.7,False
96,2008-01-01,1416854,985481,45.1,87.5,3366557,113.4,-2.3,False
97,2008-02-01,1423289,998459,43.1,85.8,3289484,111.5,-2.3,False
98,2008-03-01,1402813,971721,36.7,85.8,3249574,109.8,-2.3,False
102,2008-07-01,1427847,986893,42.5,86.2,3126320,111.1,-2.1,False
103,2008-08-01,1400930,971390,43.2,84.4,3073252,109.1,-2.1,False
104,2008-09-01,1359016,966503,41.2,84.4,2967617,107.5,-2.1,False
105,2008-10-01,1373008,957018,42.4,82.9,2929206,107.5,-8.4,False
106,2008-11-01,1290969,920299,41.0,81.6,2608703,104.3,-8.4,False
107,2008-12-01,1214565,839210,38.0,79.4,2512037,100.4,-8.4,False
108,2009-01-01,1187847,858207,37.1,77.5,2488321,98.6,-4.4,False
109,2009-02-01,1231621,809057,40.3,79.4,2546803,101.0,-4.4,False
110,2009-03-01,1152456,812909,36.2,75.7,2348517,95.9,-4.4,False
111,2009-04-01,1090319,807874,36.7,74.8,2473477,94.9,-0.6,False
112,2009-05-01,1073384,799332,34.0,76.4,2463667,95.1,-0.6,False
113,2009-06-01,1126729,796739,38.8,75.3,2587203,96.2,-0.6,False
132,2011-01-01,1272801,976073,46.9,85.3,3145292,110.1,-1.0,False
133,2011-02-01,1264260,990853,47.7,84.7,3094541,109.6,-1.0,False
134,2011-03-01,1284659,982143,45.0,86.9,3180344,111.0,-1.0,False
138,2011-07-01,1234636,979946,50.0,85.7,3099483,110.4,-0.1,False
139,2011-08-01,1242070,984021,48.2,86.5,3072110,110.7,-0.1,False
140,2011-09-01,1263639,991197,47.9,87.3,3045048,111.4,-0.1,False
168,2014-01-01,1221613,1083562,46.9,93.1,2883966,116.2,-1.1,False
169,2014-02-01,1209262,1102079,47.0,95.4,2840936,118.0,-1.1,False
170,2014-03-01,1272418,1130016,50.2,96.2,2904000,119.9,-1.1,False

In [18]:
merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth,gdp_is_increasing
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5,True
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,1.5,True
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,1.5,True
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5,True
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,7.5,True

In [19]:
merged_data['RAIL_FRT_PCT'] = merged_data['RAIL_FRT_CARLOADS_D11'].pct_change()
merged_data['RAIL_INTERMOD_PCT'] = merged_data['RAIL_FRT_INTERMODAL_D11'].pct_change()
merged_data['WATERBORNE_PCT'] = merged_data['WATERBORNE_D11'].pct_change()
merged_data['TRUCK_PCT'] = merged_data['TRUCK_D11'].pct_change()
merged_data['AIR_RTMFM_PCT'] = merged_data['AIR_RTMFM_D11'].pct_change()
merged_data['TSI_PCT'] = merged_data['TSI'].pct_change()

In [20]:
from datetime import datetime, timedelta

#create x_train and y_train dataframes
x_train = merged_data.loc[merged_data['OBS_DATE'] < split_date, 'RAIL_FRT_PCT':'TSI_PCT']
x_train.drop([0], inplace=True) #drop first row as it will have NA for pct_change values
y_train = merged_data.loc[merged_data['OBS_DATE'] < split_date, 'gdp_is_increasing']
y_train.drop([0], inplace=True) #drop first row as it will have NA for pct_change values

print('x_train row count: {0}'.format(len(x_train.index)))
print('y_train row count: {0}'.format(len(y_train.index)))

x_test = merged_data.loc[merged_data['OBS_DATE'] >= split_date, 'RAIL_FRT_PCT':'TSI_PCT']
y_test = merged_data.loc[merged_data['OBS_DATE'] >= split_date, 'gdp_is_increasing']

print('x_test row count: {0}'.format(len(x_test.index)))
print('y_test row count: {0}'.format(len(y_test.index)))

Split Date: 2015-11-23 22:24:54.504225
x_train row count: 190
y_train row count: 190
x_test row count: 49
y_test row count: 49

In [21]:
#x_train

In [22]:
from sklearn import preprocessing

mm_scaler = preprocessing.MinMaxScaler()
x_train_minmax = mm_scaler.fit_transform(x_train)

x_test_minmax = mm_scaler.transform(x_test)

In [23]:
#x_train_minmax

In [24]:
#x_test_minmax

In [25]:
y_train.head()

1    True
2    True
3    True
4    True
5    True
Name: gdp_is_increasing, dtype: bool

In [26]:
from sklearn.linear_model import LogisticRegression
import numpy as np

#load the model
clf = LogisticRegression(solver='liblinear')
#fit the model
clf.fit(x_train_minmax, y_train)

#evaluate the model by using a test set
y_hat = clf.predict(x_test_minmax)
#print the accuracy
print(np.average(y_hat == y_test))

print('Done')

1.0
Done

In [27]:
y_hat

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [28]:
x_test

,RAIL_FRT_PCT,RAIL_INTERMOD_PCT,WATERBORNE_PCT,TRUCK_PCT,AIR_RTMFM_PCT,TSI_PCT
191,-0.015480,-0.022111,-0.050104,0.014042,0.011569,-0.004132
192,-0.021953,0.049241,-0.054945,0.015826,0.000809,0.016598
193,-0.003973,0.001840,0.072093,-0.005842,-0.032887,-0.006531
194,-0.024305,-0.039484,-0.034707,-0.002938,0.024997,-0.009860
195,-0.012144,-0.009430,0.020225,0.013752,0.009591,0.020747
196,0.007258,0.012907,-0.002203,-0.010659,-0.014564,-0.006504
197,0.028067,-0.007228,-0.026490,0.001959,0.024767,0.007365
198,0.027701,-0.002657,0.070295,0.026393,-0.001024,0.020309
199,-0.001436,0.009055,-0.019068,-0.034286,0.013866,-0.016720
200,0.016810,0.000391,0.015119,-0.012821,0.015345,-0.010526
201,-0.004728,0.008929,-0.019149,0.014985,0.012287,0.007365
202,0.012288,0.019171,-0.002169,0.005906,0.017348,0.002437
203,-0.015187,0.019705,0.000000,0.009785,-0.004832,0.009724
204,0.009127,-0.025007,0.028261,-0.001938,-0.007970,-0.004013
205,0.014666,-0.002573,0.019027,0.009709,0.009833,0.003223
206,-0.016375,-0.017582,0.000000,-0.007692,0.019211,0.004016
207,-0.003645,0.009494,-0.080913,0.012597,0.007432,0.004000
208,0.001791,0.010485,-0.097065,0.003828,0.017184,0.002390
209,0.006844,0.004673,0.115000,-0.009533,0.021090,0.002385
210,-0.029272,-0.002272,0.008969,0.032724,0.010797,0.018239
211,0.000483,0.009822,-0.017778,0.008388,0.016316,0.003894
212,-0.001727,-0.009917,-0.013575,0.003697,-0.003486,-0.001552
213,0.017670,0.021487,-0.006881,0.005525,-0.006117,0.010878
214,0.003717,0.001204,0.060046,0.007326,0.044251,0.013067
215,0.004628,0.009185,0.000000,0.018182,-0.016731,0.013657
216,-0.029080,0.001865,0.026144,-0.026786,0.003430,-0.015719
217,0.042058,0.019615,0.042463,0.022936,0.020321,0.015209
218,0.021507,0.008311,0.024440,0.009865,0.000100,0.014981
219,-0.002677,-0.016849,0.043738,-0.007993,-0.038485,0.000738
220,-0.003390,0.016804,-0.013333,0.015219,0.050490,0.005162
221,-0.004067,0.007877,0.021236,0.007055,-0.001314,0.005869
222,-0.011405,-0.002868,-0.047259,-0.007881,-0.014216,-0.008753
223,0.000043,-0.007944,-0.031746,0.004413,0.000206,0.001472
224,-0.004975,0.003449,0.038934,0.007909,0.018585,0.013226
225,-0.001874,-0.002269,0.039448,0.009590,-0.010980,0.007977
226,-0.005909,-0.003505,-0.041746,0.007772,-0.017280,0.003597
227,0.019424,0.009324,0.009901,-0.013710,0.004475,-0.015054
228,-0.020463,-0.015414,-0.005882,0.004344,0.019647,0.008734
229,-0.010552,-0.013703,-0.118343,0.000000,-0.029834,-0.011544
230,-0.043380,-0.004971,0.060403,0.011246,0.018324,0.007299
231,0.086496,-0.008308,0.069620,0.001711,-0.003644,0.009420
232,-0.026576,-0.024083,-0.019724,0.003416,0.013159,-0.000718
233,-0.033385,-0.004740,-0.006036,0.003404,-0.020463,-0.002874
234,0.003073,0.015183,-0.006073,0.005937,0.003508,0.005764
235,-0.006389,-0.005781,0.034623,0.011804,0.010462,0.011461
236,-0.026488,-0.000894,-0.015748,-0.025000,-0.038702,-0.024079
237,-0.018971,-0.022953,0.022000,0.005983,0.013972,0.002903
238,0.007188,-0.005856,-0.001957,-0.005947,-0.001251,-0.000724
239,-0.001013,-0.010985,0.017647,-0.006838,-0.003102,-0.010862

In [29]:
y_test

191    True
192    True
193    True
194    True
195    True
196    True
197    True
198    True
199    True
200    True
201    True
202    True
203    True
204    True
205    True
206    True
207    True
208    True
209    True
210    True
211    True
212    True
213    True
214    True
215    True
216    True
217    True
218    True
219    True
220    True
221    True
222    True
223    True
224    True
225    True
226    True
227    True
228    True
229    True
230    True
231    True
232    True
233    True
234    True
235    True
236    True
237    True
238    True
239    True
Name: gdp_is_increasing, dtype: bool

In [30]:
merged_data

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth,gdp_is_increasing,RAIL_FRT_PCT,RAIL_INTERMOD_PCT,WATERBORNE_PCT,TRUCK_PCT,AIR_RTMFM_PCT,TSI_PCT
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5,True,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,1.5,True,0.002418,0.004187,-0.122744,-0.006227,0.022255,-0.008547
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,1.5,True,-0.010116,-0.005339,0.080247,-0.071429,-0.012715,-0.049808
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5,True,-0.007898,0.000374,-0.032381,-0.017544,0.027129,-0.011089
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,7.5,True,0.003469,-0.000394,0.033465,0.002747,-0.011540,0.005097
5,2000-06-01,1394702,755760,48.5,74.9,2519527,99.6,7.5,True,-0.007449,-0.010582,-0.076190,0.026027,-0.003281,0.010142
6,2000-07-01,1400222,758084,49.6,72.7,2502082,97.5,0.5,True,0.003958,0.003075,0.022680,-0.029372,-0.006924,-0.021084
7,2000-08-01,1401724,755196,48.3,74.7,2579427,99.6,0.5,True,0.001073,-0.003810,-0.026210,0.027510,0.030912,0.021538
8,2000-09-01,1417025,766163,48.5,74.1,2759673,99.7,0.5,True,0.010916,0.014522,0.004141,-0.008032,0.069878,0.001004
9,2000-10-01,1395338,781620,47.8,74.2,2649911,99.5,2.5,True,-0.015305,0.020175,-0.014433,0.001350,-0.039774,-0.002006
10,2000-11-01,1364614,762624,48.4,74.8,2618356,99.8,2.5,True,-0.022019,-0.024303,0.012552,0.008086,-0.011908,0.003015
11,2000-12-01,1356488,758378,41.9,74.2,2612777,98.9,2.5,True,-0.005955,-0.005568,-0.134298,-0.008021,-0.002131,-0.009018
12,2001-01-01,1398488,759514,46.0,74.8,2553409,99.5,-1.1,False,0.030962,0.001498,0.097852,0.008086,-0.022722,0.006067
13,2001-02-01,1399176,743794,47.6,75.3,2547226,99.9,-1.1,False,0.000492,-0.020697,0.034783,0.006684,-0.002421,0.004020
14,2001-03-01,1416765,754615,47.0,74.2,2479860,99.1,-1.1,False,0.012571,0.014548,-0.012605,-0.014608,-0.026447,-0.008008
15,2001-04-01,1403222,732016,47.9,73.5,2410720,98.1,2.4,True,-0.009559,-0.029948,0.019149,-0.009434,-0.027881,-0.010091
16,2001-05-01,1400193,725757,46.6,75.3,2417135,99.3,2.4,True,-0.002159,-0.008550,-0.027140,0.024490,0.002661,0.012232
17,2001-06-01,1387463,736815,49.0,74.3,2476862,98.4,2.4,True,-0.009092,0.015237,0.051502,-0.013280,0.024710,-0.009063
18,2001-07-01,1353431,731670,47.6,74.1,2246636,97.6,-1.7,False,-0.024528,-0.006983,-0.028571,-0.002692,-0.092951,-0.008130
19,2001-08-01,1374005,745111,49.3,75.2,2318149,99.2,-1.7,False,0.015201,0.018370,0.035714,0.014845,0.031831,0.016393
20,2001-09-01,1376994,754272,49.0,74.4,2047594,98.1,-1.7,False,0.002175,0.012295,-0.006085,-0.010638,-0.116712,-0.011089
21,2001-10-01,1395898,753132,46.9,74.5,2238918,98.8,1.1,True,0.013728,-0.001511,-0.042857,0.001344,0.093438,0.007136
22,2001-11-01,1394723,750174,47.0,74.6,2187474,98.0,1.1,True,-0.000842,-0.003928,0.002132,0.001342,-0.022977,-0.008097
23,2001-12-01,1381481,731511,46.7,74.3,2249198,97.6,1.1,True,-0.009494,-0.024878,-0.006383,-0.004021,0.028217,-0.004082
24,2002-01-01,1383313,739873,47.6,75.3,2277431,98.8,3.5,True,0.001326,0.011431,0.019272,0.013459,0.012552,0.012295
25,2002-02-01,1381443,768605,47.2,76.8,2275072,100.2,3.5,True,-0.001352,0.038834,-0.008403,0.019920,-0.001036,0.014170
26,2002-03-01,1331803,762267,45.7,75.3,2363158,98.8,3.5,True,-0.035933,-0.008246,-0.031780,-0.019531,0.038718,-0.013972
27,2002-04-01,1367650,778295,45.5,76.0,2381305,99.8,2.4,True,0.026916,0.021027,-0.004376,0.009296,0.007679,0.010121
28,2002-05-01,1370269,789266,46.2,77.1,2415975,100.9,2.4,True,0.001915,0.014096,0.015385,0.014474,0.014559,0.011022
29,2002-06-01,1397691,798864,46.9,76.9,2495396,101.4,2.4,True,0.020012,0.012161,0.015152,-0.002594,0.032873,0.004955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,2017-07-01,1099352,1142421,45.0,107.3,3474790,128.4,3.2,True,-0.029272,-0.002272,0.008969,0.032724,0.010797,0.018239
211,2017-08-01,1099883,1153642,44.2,108.2,3531485,128.9,3.2,True,0.000483,0.009822,-0.017778,0.008388,0.016316,0.003894
212,2017-09-01,1097983,1142201,43.6,108.6,3519176,128.7,3.2,True,-0.001727,-0.009917,-0.013575,0.003697,-0.003486,-0.001552
213,2017-10-01,1117384,1166744,43.3,109.2,3497650,130.1,3.5,True,0.017670,0.021487,-0.006881,0.005525,-0.006117,0.010878
214,2017-11-01,1121537,1168149,45.9,110.0,3652426,131.8,3.5,True,0.003717,0.001204,0.060046,0.007326,0.044251,0.013067
215,2017-12-01,1126728,1178879,45.9,112.0,3591317,133.6,3.5,True,0.004628,0.009185,0.000000,0.018182,-0.016731,0.013657
216,2018-01-01,1093963,1181078,47.1,109.0,3603636,131.5,2.5,True,-0.029080,0.001865,0.026144,-0.026786,0.003430,-0.015719
217,2018-02-01,1139973,1204245,49.1,111.5,3676866,133.5,2.5,True,0.042058,0.019615,0.042463,0.022936,0.020321,0.015209
218,2018-03-01,1164490,1214254,50.3,112.6,3677233,135.5,2.5,True,0.021507,0.008311,0.024440,0.009865,0.000100,0.014981
219,2018-04-01,1161373,1193795,52.5,111.7,3535715,135.6,3.5,True,-0.002677,-0.016849,0.043738,-0.007993,-0.038485,0.000738
220,2018-05-01,1157436,1213855,51.8,113.4,3714235,136.3,3.5,True,-0.003390,0.016804,-0.013333,0.015219,0.050490,0.005162
221,2018-06-01,1152729,1223416,52.9,114.2,3709355,137.1,3.5,True,-0.004067,0.007877,0.021236,0.007055,-0.001314,0.005869
222,2018-07-01,1139582,1219907,50.4,113.3,3656623,135.9,2.9,True,-0.011405,-0.002868,-0.047259,-0.007881,-0.014216,-0.008753
223,2018-08-01,1139631,1210216,48.8,113.8,3657377,136.1,2.9,True,0.000043,-0.007944,-0.031746,0.004413,0.000206,0.001472
224,2018-09-01,1133961,1214390,50.7,114.7,3725348,137.9,2.9,True,-0.004975,0.003449,0.038934,0.007909,0.018585,0.013226
225,2018-10-01,1131836,1211635,52.7,115.8,3684444,139.0,1.1,True,-0.001874,-0.002269,0.039448,0.009590,-0.010980,0.007977
226,2018-11-01,1125148,1207388,50.5,116.7,3620778,139.5,1.1,True,-0.005909,-0.003505,-0.041746,0.007772,-0.017280,0.003597
227,2018-12-01,1147003,1218646,51.0,115.1,3636982,137.4,1.1,True,0.019424,0.009324,0.009901,-0.013710,0.004475,-0.015054
228,2019-01-01,1123532,1199862,50.7,115.6,3708438,138.6,3.1,True,-0.020463,-0.015414,-0.005882,0.004344,0.019647,0.008734
229,2019-02-01,1111676,1183420,44.7,115.6,3597801,137.0,3.1,True,-0.010552,-0.013703,-0.118343,0.000000,-0.029834,-0.011544
230,2019-03-01,1063452,1177537,47.4,116.9,3663726,138.0,3.1,True,-0.043380,-0.004971,0.060403,0.011246,0.018324,0.007299
231,2019-04-01,1155436,1167754,50.7,117.1,3650376,139.3,2.0,True,0.086496,-0.008308,0.069620,0.001711,-0.003644,0.009420
232,2019-05-01,1124729,1139631,49.7,117.5,3698410,139.2,2.0,True,-0.026576,-0.024083,-0.019724,0.003416,0.013159,-0.000718
233,2019-06-01,1087180,1134229,49.4,117.9,3622728,138.8,2.0,True,-0.033385,-0.004740,-0.006036,0.003404,-0.020463,-0.002874
234,2019-07-01,1090521,1151450,49.1,118.6,3635437,139.6,2.1,True,0.003073,0.015183,-0.006073,0.005937,0.003508,0.005764
235,2019-08-01,1083554,1144793,50.8,120.0,3673470,141.2,2.1,True,-0.006389,-0.005781,0.034623,0.011804,0.010462,0.011461
236,2019-09-01,1054853,1143769,50.0,117.0,3531300,137.8,2.1,True,-0.026488,-0.000894,-0.015748,-0.025000,-0.038702,-0.024079
237,2019-10-01,1034841,1117516,51.1,117.7,3580638,138.2,2.1,True,-0.018971,-0.022953,0.022000,0.005983,0.013972,0.002903
238,2019-11-01,1042279,1110972,51.0,117.0,3576158,138.1,2.1,True,0.007188,-0.005856,-0.001957,-0.005947,-0.001251,-0.000724
239,2019-12-01,1041223,1098768,51.9,116.2,3565066,136.6,2.1,True,-0.001013,-0.010985,0.017647,-0.006838,-0.003102,-0.010862