In [19]:
import pandas as pd

#Read in the transportation data, monthly seasonally adjusted
tsi_data = pd.read_excel(".\data\Input_SeasonalData_TSI.xlsx", header=2)

#look at the data types that were inferred by Pandas during import.
tsi_data.dtypes

OBS_DATE                   datetime64[ns]
RAIL_FRT_CARLOADS_D11               int64
RAIL_FRT_INTERMODAL_D11             int64
WATERBORNE_D11                    float64
TRUCK_D11                         float64
AIR_RTMFM_D11                       int64
TSI                               float64
dtype: object

In [20]:
#Return a listing of the data
tsi_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6

In [21]:
#Read in the real gdp growth rates,seasonally adjusted, quarterly data with quarterly growth rates
gdp_data = pd.read_excel(".\data\Input_GDP_st_louis_fed_quarterly_change.xlsx")

#look at the data types that were inferred by Pandas during import.
gdp_data.dtypes

observation_date       datetime64[ns]
Real_gdp_qtr_growth           float64
dtype: object

In [22]:
#Disply a listing of the data
gdp_data.head()

  observation_date  Real_gdp_qtr_growth
0       2000-01-01                  1.5
1       2000-04-01                  7.5
2       2000-07-01                  0.5
3       2000-10-01                  2.5
4       2001-01-01                 -1.1

In [23]:
#Merge the 2 datasets together based on the date. 
merged_data = pd.merge(tsi_data, gdp_data, how='left', left_on='OBS_DATE', right_on='observation_date')

merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,observation_date,Real_gdp_qtr_growth
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,2000-01-01,1.5
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,NaT,NaN
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,NaT,NaN
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,2000-04-01,7.5
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,NaT,NaN

In [24]:
#We now have 2 date columns.  Drop the date column from the gdp_data dataframe.
merged_data = merged_data.drop(['observation_date'], axis=1) #pandas can drop rows or columns, axis=1 indicates columns

In [25]:
#This now shows the dataframe without the duplicate date column observation_date.
merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,NaN
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,NaN
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,NaN

In [26]:
#Look at the counts for the data values that we have for each column.  We see the gdp data with a smaller number since
#it is quarterly and the other data is monthly.
merged_data.count()

OBS_DATE                   241
RAIL_FRT_CARLOADS_D11      241
RAIL_FRT_INTERMODAL_D11    241
WATERBORNE_D11             241
TRUCK_D11                  241
AIR_RTMFM_D11              241
TSI                        241
Real_gdp_qtr_growth         80
dtype: int64

In [27]:
#Forward fill the gdp data so that a quarterly gdp value will be used for 3 rows, with each row being a month.
#limit it only fill in 2 consective missing values.
merged_data['Real_gdp_qtr_growth'] = merged_data['Real_gdp_qtr_growth'].fillna(method='ffill', limit=2)

merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,1.5
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,1.5
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,7.5

In [28]:
#Look to see if we still have missing gdp values as that data gets released later than the transportation data.
#This will allow us to inspect any bad rows.
merged_data.loc[merged_data['Real_gdp_qtr_growth'].isnull()]

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth
240,2020-01-01,1054432,1109662,50.4,116.6,3617962,136.9,NaN

In [29]:
#drop rows where we don't have a gdp value
merged_data = merged_data.dropna(subset=['Real_gdp_qtr_growth'])

In [30]:
#Verify that all rows have gdp values 
merged_data.loc[merged_data['Real_gdp_qtr_growth'].isnull()]

Empty DataFrame
Columns: [OBS_DATE, RAIL_FRT_CARLOADS_D11, RAIL_FRT_INTERMODAL_D11, WATERBORNE_D11, TRUCK_D11, AIR_RTMFM_D11, TSI, Real_gdp_qtr_growth]
Index: []

In [31]:
#We should now have clean data.
merged_data.count()

OBS_DATE                   240
RAIL_FRT_CARLOADS_D11      240
RAIL_FRT_INTERMODAL_D11    240
WATERBORNE_D11             240
TRUCK_D11                  240
AIR_RTMFM_D11              240
TSI                        240
Real_gdp_qtr_growth        240
dtype: int64

In [32]:
#Create a boolean column to indicate if gdp growth was positive or negative.
merged_data['gdp_is_increasing'] = merged_data.apply(lambda x: True if x['Real_gdp_qtr_growth'] > 0.0 else False, axis=1)

In [33]:
merged_data.count()

OBS_DATE                   240
RAIL_FRT_CARLOADS_D11      240
RAIL_FRT_INTERMODAL_D11    240
WATERBORNE_D11             240
TRUCK_D11                  240
AIR_RTMFM_D11              240
TSI                        240
Real_gdp_qtr_growth        240
gdp_is_increasing          240
dtype: int64

In [34]:
#look at the new column
merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth,gdp_is_increasing
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5,True
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,1.5,True
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,1.5,True
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5,True
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,7.5,True

In [36]:
#Look at rows where gdp growth was negative
merged_data.loc[merged_data['Real_gdp_qtr_growth'] <= 0.0]

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth,gdp_is_increasing
12,2001-01-01,1398488,759514,46.0,74.8,2553409,99.5,-1.1,False
13,2001-02-01,1399176,743794,47.6,75.3,2547226,99.9,-1.1,False
14,2001-03-01,1416765,754615,47.0,74.2,2479860,99.1,-1.1,False
18,2001-07-01,1353431,731670,47.6,74.1,2246636,97.6,-1.7,False
19,2001-08-01,1374005,745111,49.3,75.2,2318149,99.2,-1.7,False
20,2001-09-01,1376994,754272,49.0,74.4,2047594,98.1,-1.7,False
96,2008-01-01,1416854,985481,45.1,87.5,3366557,113.4,-2.3,False
97,2008-02-01,1423289,998459,43.1,85.8,3289484,111.5,-2.3,False
98,2008-03-01,1402813,971721,36.7,85.8,3249574,109.8,-2.3,False
102,2008-07-01,1427847,986893,42.5,86.2,3126320,111.1,-2.1,False
103,2008-08-01,1400930,971390,43.2,84.4,3073252,109.1,-2.1,False
104,2008-09-01,1359016,966503,41.2,84.4,2967617,107.5,-2.1,False
105,2008-10-01,1373008,957018,42.4,82.9,2929206,107.5,-8.4,False
106,2008-11-01,1290969,920299,41.0,81.6,2608703,104.3,-8.4,False
107,2008-12-01,1214565,839210,38.0,79.4,2512037,100.4,-8.4,False
108,2009-01-01,1187847,858207,37.1,77.5,2488321,98.6,-4.4,False
109,2009-02-01,1231621,809057,40.3,79.4,2546803,101.0,-4.4,False
110,2009-03-01,1152456,812909,36.2,75.7,2348517,95.9,-4.4,False
111,2009-04-01,1090319,807874,36.7,74.8,2473477,94.9,-0.6,False
112,2009-05-01,1073384,799332,34.0,76.4,2463667,95.1,-0.6,False
113,2009-06-01,1126729,796739,38.8,75.3,2587203,96.2,-0.6,False
132,2011-01-01,1272801,976073,46.9,85.3,3145292,110.1,-1.0,False
133,2011-02-01,1264260,990853,47.7,84.7,3094541,109.6,-1.0,False
134,2011-03-01,1284659,982143,45.0,86.9,3180344,111.0,-1.0,False
138,2011-07-01,1234636,979946,50.0,85.7,3099483,110.4,-0.1,False
139,2011-08-01,1242070,984021,48.2,86.5,3072110,110.7,-0.1,False
140,2011-09-01,1263639,991197,47.9,87.3,3045048,111.4,-0.1,False
168,2014-01-01,1221613,1083562,46.9,93.1,2883966,116.2,-1.1,False
169,2014-02-01,1209262,1102079,47.0,95.4,2840936,118.0,-1.1,False
170,2014-03-01,1272418,1130016,50.2,96.2,2904000,119.9,-1.1,False

In [41]:
merged_data.head()

,OBS_DATE,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,Real_gdp_qtr_growth,gdp_is_increasing,RAIL_FRT_PCT,RAIL_INTERMOD_PCT,WATERBORNE_PCT,TRUCK_PCT,AIR_RTMFM_PCT,TSI_PCT
0,2000-01-01,1422442,764756,55.4,80.3,2466950,105.3,1.5,True,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02-01,1425882,767958,48.6,79.8,2521852,104.4,1.5,True,0.002418,0.004187,-0.122744,-0.006227,0.022255,-0.008547
2,2000-03-01,1411458,763858,52.5,74.1,2489787,99.2,1.5,True,-0.010116,-0.005339,0.080247,-0.071429,-0.012715,-0.049808
3,2000-04-01,1400311,764144,50.8,72.8,2557332,98.1,7.5,True,-0.007898,0.000374,-0.032381,-0.017544,0.027129,-0.011089
4,2000-05-01,1405169,763843,52.5,73.0,2527821,98.6,7.5,True,0.003469,-0.000394,0.033465,0.002747,-0.011540,0.005097

In [40]:
merged_data['RAIL_FRT_PCT'] = merged_data['RAIL_FRT_CARLOADS_D11'].pct_change()
merged_data['RAIL_INTERMOD_PCT'] = merged_data['RAIL_FRT_INTERMODAL_D11'].pct_change()
merged_data['WATERBORNE_PCT'] = merged_data['WATERBORNE_D11'].pct_change()
merged_data['TRUCK_PCT'] = merged_data['TRUCK_D11'].pct_change()
merged_data['AIR_RTMFM_PCT'] = merged_data['AIR_RTMFM_D11'].pct_change()
merged_data['TSI_PCT'] = merged_data['TSI'].pct_change()

In [45]:
from datetime import datetime, timedelta

test_data_split = 130  #number of weeks in the test data set
#Calculate the split date to use
split_date = datetime.now() - timedelta(weeks=test_data_split) 
print('Split Date: {0}'.format(split_date))

#create x_train and y_train dataframes
x_train = merged_data.loc[merged_data['OBS_DATE'] < split_date, 'RAIL_FRT_PCT':'TSI_PCT']
y_train = merged_data.loc[merged_data['OBS_DATE'] < split_date, 'gdp_is_increasing']
#y_train = x_train[['gdp_is_increasing']].copy()

#get rid of columns that we don't need
#x_train = x_train.drop(['OBS_DATE'], axis=1)
#x_train = x_train.drop(['Real_gdp_qtr_growth'], axis=1)
#x_train = x_train.drop(['gdp_is_increasing'], axis=1)

print('x_train row count: {0}'.format(len(x_train.index)))
print('y_train row count: {0}'.format(len(y_train.index)))

x_test = merged_data.loc[merged_data['OBS_DATE'] >= split_date, 'RAIL_FRT_PCT':'TSI_PCT']
#x_test = merged_data.loc[merged_data['OBS_DATE'] >= split_date]
#y_test = x_test[['gdp_is_increasing']].copy()
y_test = merged_data.loc[merged_data['OBS_DATE'] >= split_date, 'gdp_is_increasing']

#x_test = x_test.drop(['OBS_DATE'], axis=1)
#x_test = x_test.drop(['Real_gdp_qtr_growth'], axis=1)
#x_test = x_test.drop(['gdp_is_increasing'], axis=1)

print('x_test row count: {0}'.format(len(x_test.index)))
print('y_test row count: {0}'.format(len(y_test.index)))

Split Date: 2017-10-23 21:42:52.806722
x_train row count: 214
y_train row count: 214
x_test row count: 26
y_test row count: 26

In [46]:
x_train

,RAIL_FRT_PCT,RAIL_INTERMOD_PCT,WATERBORNE_PCT,TRUCK_PCT,AIR_RTMFM_PCT,TSI_PCT
0,NaN,NaN,NaN,NaN,NaN,NaN
1,0.002418,0.004187,-0.122744,-0.006227,0.022255,-0.008547
2,-0.010116,-0.005339,0.080247,-0.071429,-0.012715,-0.049808
3,-0.007898,0.000374,-0.032381,-0.017544,0.027129,-0.011089
4,0.003469,-0.000394,0.033465,0.002747,-0.011540,0.005097
5,-0.007449,-0.010582,-0.076190,0.026027,-0.003281,0.010142
6,0.003958,0.003075,0.022680,-0.029372,-0.006924,-0.021084
7,0.001073,-0.003810,-0.026210,0.027510,0.030912,0.021538
8,0.010916,0.014522,0.004141,-0.008032,0.069878,0.001004
9,-0.015305,0.020175,-0.014433,0.001350,-0.039774,-0.002006
10,-0.022019,-0.024303,0.012552,0.008086,-0.011908,0.003015
11,-0.005955,-0.005568,-0.134298,-0.008021,-0.002131,-0.009018
12,0.030962,0.001498,0.097852,0.008086,-0.022722,0.006067
13,0.000492,-0.020697,0.034783,0.006684,-0.002421,0.004020
14,0.012571,0.014548,-0.012605,-0.014608,-0.026447,-0.008008
15,-0.009559,-0.029948,0.019149,-0.009434,-0.027881,-0.010091
16,-0.002159,-0.008550,-0.027140,0.024490,0.002661,0.012232
17,-0.009092,0.015237,0.051502,-0.013280,0.024710,-0.009063
18,-0.024528,-0.006983,-0.028571,-0.002692,-0.092951,-0.008130
19,0.015201,0.018370,0.035714,0.014845,0.031831,0.016393
20,0.002175,0.012295,-0.006085,-0.010638,-0.116712,-0.011089
21,0.013728,-0.001511,-0.042857,0.001344,0.093438,0.007136
22,-0.000842,-0.003928,0.002132,0.001342,-0.022977,-0.008097
23,-0.009494,-0.024878,-0.006383,-0.004021,0.028217,-0.004082
24,0.001326,0.011431,0.019272,0.013459,0.012552,0.012295
25,-0.001352,0.038834,-0.008403,0.019920,-0.001036,0.014170
26,-0.035933,-0.008246,-0.031780,-0.019531,0.038718,-0.013972
27,0.026916,0.021027,-0.004376,0.009296,0.007679,0.010121
28,0.001915,0.014096,0.015385,0.014474,0.014559,0.011022
29,0.020012,0.012161,0.015152,-0.002594,0.032873,0.004955
...,...,...,...,...,...,...
184,-0.037844,-0.015469,0.051836,0.009128,-0.020109,0.002465
185,-0.015319,-0.000799,-0.026694,-0.001005,-0.013300,-0.003279
186,0.028903,0.001047,-0.004219,0.008048,0.008697,0.008224
187,-0.002464,-0.002473,0.029661,0.007984,-0.017197,0.004894
188,-0.006432,-0.008836,0.004115,-0.001980,0.027697,0.000000
189,-0.004689,-0.017254,-0.045082,-0.000992,-0.000678,-0.003247
190,-0.047187,-0.010931,0.027897,-0.009930,-0.009215,-0.014658
191,-0.015480,-0.022111,-0.050104,0.014042,0.011569,-0.004132
192,-0.021953,0.049241,-0.054945,0.015826,0.000809,0.016598
193,-0.003973,0.001840,0.072093,-0.005842,-0.032887,-0.006531
194,-0.024305,-0.039484,-0.034707,-0.002938,0.024997,-0.009860
195,-0.012144,-0.009430,0.020225,0.013752,0.009591,0.020747
196,0.007258,0.012907,-0.002203,-0.010659,-0.014564,-0.006504
197,0.028067,-0.007228,-0.026490,0.001959,0.024767,0.007365
198,0.027701,-0.002657,0.070295,0.026393,-0.001024,0.020309
199,-0.001436,0.009055,-0.019068,-0.034286,0.013866,-0.016720
200,0.016810,0.000391,0.015119,-0.012821,0.015345,-0.010526
201,-0.004728,0.008929,-0.019149,0.014985,0.012287,0.007365
202,0.012288,0.019171,-0.002169,0.005906,0.017348,0.002437
203,-0.015187,0.019705,0.000000,0.009785,-0.004832,0.009724
204,0.009127,-0.025007,0.028261,-0.001938,-0.007970,-0.004013
205,0.014666,-0.002573,0.019027,0.009709,0.009833,0.003223
206,-0.016375,-0.017582,0.000000,-0.007692,0.019211,0.004016
207,-0.003645,0.009494,-0.080913,0.012597,0.007432,0.004000
208,0.001791,0.010485,-0.097065,0.003828,0.017184,0.002390
209,0.006844,0.004673,0.115000,-0.009533,0.021090,0.002385
210,-0.029272,-0.002272,0.008969,0.032724,0.010797,0.018239
211,0.000483,0.009822,-0.017778,0.008388,0.016316,0.003894
212,-0.001727,-0.009917,-0.013575,0.003697,-0.003486,-0.001552
213,0.017670,0.021487,-0.006881,0.005525,-0.006117,0.010878

In [ ]:
from sklearn import preprocessing

mm_scaler = preprocessing.MinMaxScaler()
x_train_minmax = mm_scaler.fit_transform(x_train)

mm_scaler.transform(x_test)

In [39]:
x_train.head()

,RAIL_FRT_CARLOADS_D11,RAIL_FRT_INTERMODAL_D11,WATERBORNE_D11,TRUCK_D11,AIR_RTMFM_D11,TSI,RAIL_FRT_PCT
0,1422442,764756,55.4,80.3,2466950,105.3,NaN
1,1425882,767958,48.6,79.8,2521852,104.4,0.002418
2,1411458,763858,52.5,74.1,2489787,99.2,-0.010116
3,1400311,764144,50.8,72.8,2557332,98.1,-0.007898
4,1405169,763843,52.5,73.0,2527821,98.6,0.003469